---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello World, just making sure this works still</h1>
		<p>AAAAAAAAAAAAAAAAAAAAAh</p>
		<p>list of numbers</p>
		<p><a href='/institutions/'>Peruse the schools I have scraped and available</a></p>
	</body>
	<script>
		
	</script>
</html>
