---

const schoolListAPI = 'http://192.168.1.8:3000/school-list'

function  makeSchoolAPICall() {
  return fetch(schoolListAPI)
    .then(response => response.json())
    .then(data => {
      // Do something with the JSON data
      return data; // You can return the data if needed
    })
    .catch(error => {
      throw error; // Rethrow the error to handle it further
    });
}

const result = await makeSchoolAPICall();
const schoolList = result.map(item => item.institution)
console.log(schoolList)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello World, just making sure this works still</h1>
		<p>AAAAAAAAAAAAAAAAAAAAAh</p>
		<p>list of numbers</p>
		<ul>{schoolList.map(school => <li>{school}</li>)}</ul>
	</body>
	<script>
		
	</script>
</html>
