---
import '../../scripts/makeSchoolAPICalls.js'
import '../../scripts/getSchoolProfs.js'

export async function getStaticPaths(){

    function  makeSchoolAPICall() {
    return fetch('http://192.168.1.8:3000/school-list')
        .then(response => response.json())
        .then(data => {
            return data; 
        })
        .catch(error => {
            throw error; 
        });
    }

    const result = await makeSchoolAPICall();
    const schoolList = result.map(item => item.institution)

    return schoolList.map((school) => {

        // function  getSchoolProfs(school) {
        //     return fetch(`http://192.168.1.8:3000/professors/school/${school}`)
        //         .then(response => response.json())
        //         .then(data => {
        //         return data; 
        //         })
        //         .catch(error => {
        //         throw error; 
        //         });
        //     }

            const profNames = ['Conor','Lauren','Declan'];
            // console.log(typeof(testNameList))
            // const profNames = testNameList.map((item) => item.profName);
            return {
                params: {institution: school},
                props: {profs:profNames},
            };
        });

}

const { institution } = Astro.params;
const { profs } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Schools</title>
	</head>
	<body>
		<h1>{institution} Home Page</h1>
        <ul>
            {profs.map((prof) => <li>{prof}</li>)}
        </ul>
	</body>
</html>