---
export async function getStaticPaths(){

    function  makeSchoolAPICall() {
    return fetch('http://192.168.1.8:3000/school-list')
        .then(response => response.json())
        .then(data => {
            return data; 
        })
        .catch(error => {
            throw error; 
        });
    }

    function makeProfAPICall(){
        return fetch('http://192.168.1.8:3000/professors/school')
        .then(response => response.json())
        .then(data => {
            return data; 
        })
        .catch(error => {
            throw error; 
        });
    }

    const schoolResult = await makeSchoolAPICall();
    const schoolList = schoolResult.map(item => item.institution);

    const profResult = await makeProfAPICall();

    return schoolList.map((school) => {

            const profNames = profResult.filter((prof) => prof.institution === school);
            return {
                params: {institution: school},
                props: {profs:profNames}
            };
        });

}

const { institution } = Astro.params;
const { profs } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Schools</title>
	</head>
	<body>
		<h1>{institution} Home Page</h1>
        <p><a href="/institutions">See all schools here</a></p>
        <ul>
            {profs.map((prof) => <li><a href={`/professors/${prof.id}`}>{prof.profName}</a></li>)}
        </ul>
	</body>
</html>