---
import '../../styles/global.css'

const schoolListAPI = 'http://192.168.1.8:3000/school-list'
function  makeAPICall() {
  return fetch(schoolListAPI)
    .then(response => response.json())
    .then(data => {
      return data; 
    })
    .catch(error => {
      throw error;
    });
}

const result = await makeAPICall();
const schoolList = result.map(item => item.institution)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Schools</title>
	</head>
	<body>
		<h1>Currently available schools</h1>
    <p><a href='/'>Return to the home page if you dare </a></p>
    <div class = 'institution-cards'>
            {schoolList.map(school => {
              return <a class='institution-card-link' href={`/institutions/${school}`}>
                <div class="institution-card">
                  <img src={`../src/logos/${school}.png`}>
                  <p>{school}</p>
                </div>
            </a>
            })}
    </div>
	</body>
</html>