---
const schoolListAPI = 'http://192.168.1.8:3000/school-list'
function  makeAPICall() {
  return fetch(schoolListAPI)
    .then(response => response.json())
    .then(data => {
      // Do something with the JSON data
      return data; // You can return the data if needed
    })
    .catch(error => {
      throw error; // Rethrow the error to handle it further
    });
}

const result = await makeAPICall();
const schoolList = result.map(item => item.institution)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Schools</title>
	</head>
	<body>
		<h1>Currently available schools</h1>
    <p><a href='/'>Return to the home page if you dare </a></p>
		<div class = 'institution'>
            {schoolList.map(school => <p><a href={`/institutions/${school}`}>{school}</a></p>)}
        </div>
	</body>
</html>